* {
     background-color: black;
     font-family: 'Courier New', Courier, monospace;
     text-align: center;
     text-decoration: none;
}

.text {
     color: greenyellow; 
}

#primaryHeading {
     margin-top: 5cm;
}

a, p {
     color: greenyellow; 
     
}

.svg {
     background-color: white;
}